
// [ CUSTOMISING CLASSES ]
//description: utility classes ONLY for a project

// [ SHADOWS ]
.shadow-purple {
    box-shadow: 0 0 12px 0 rgba($purple, 0.25);
}
.shadow-red {
    box-shadow: 0 0 12px 0 rgba($red, 0.25);
}
.shadow-dark {
    box-shadow: 0 0 12px 0 rgba(#000, 0.5);
}

// [ COLOURS ]
.txt-dark {
    color: $grey-txt;
}
.bg-red {
    background: $red;
}
.bg-yellow {
    background: $yellow;
}
.bg-blue {
    background: $blue;
}
.ico-red {
    fill: $red;
}
.ico-yellow {
    fill: $yellow;
}
.ico-blue {
    fill: $blue;
}

// [ BUTTONS ]
.CTA {
    min-width: max-content;
    width: max-content;
    background: $purple;
    color: $white;
    padding: 13px 28px;
    border-radius: 3px;
    font-size: 2rem;
    font-weight: $f-semibold;
    cursor: pointer;
    @extend .shadow-purple;

    &:hover {
        background: lighten($purple, 3%);
    }

    &.small {
        padding: 7px 28px;
        font-size: 1.8rem;
    }
}
.CTA-red {
    @extend .CTA;
    background: $red;
    @extend .shadow-red;

    &:hover {
        background: lighten($red, 3%);
    }
}
.CTA-disabled {
    @extend .CTA;
    background: rgba($grey, 0.4);
    color: $grey;
    cursor: default;
    box-shadow: none;
    pointer-events: none;
    user-select: none;

    &:hover {
        background: rgba($grey, 0.4);
    }
}


// [ BADGES ]
.badge {
    padding: 7px 15px;
    border-radius: 4px;

    &.red { background-color: rgba($red, 0.25); color: $red; }
}


// [ OTHER ]
.hidden {
    width: 0; height: 0;
    position: absolute;
    visibility: hidden;
}