// [ COMPONENT: Application Card ]
.application-card {
    width: 100%;
    padding: 20px 30px;
    background: $dark-l;
    font-size: 1.8rem;
    margin: 17px 0;
    cursor: pointer;
    transition: background 0.25s;
    @include flex-align(space-between, center);

    &:hover {
        background: lighten($dark-l, 3%);
    }
}
.application-info { 
    gap: 30px;
    @include flex-align(flex-start, flex-start);

    p { margin: 0; padding: 0; }
    p.date { 
        font-size: 1.6rem;
        color: $grey-txt;
        font-weight: $f-medium;
    }
    p.title { 
        font-size: 1.8rem;
        margin-bottom: 5px;
    }
    p.client { 
        font-size: 1.6rem;
        color: $grey-txt;
        font-weight: $f-medium;
    }
}

.application-card-fullscreen {
    padding: 40px;
    @extend .application-card;
    @include flex-align(flex-start, flex-start, column);

    .application-info {
        width: 100%;
        margin-bottom: 40px;
        padding-bottom: 20px;
        border-bottom: 3px solid $dark;
        gap: 0px;
        @include flex-align(flex-start, flex-start, column);

        .date {
            margin-bottom: 20px;
        }
        .title {
            font-size: 2.5rem;
        }
        .client {
            font-size: 2rem;
        }
    }
}