// [ COMPONENT: Application Card ]
.application-card {
    width: 100%;
    padding: 20px 30px;
    background: $dark-l;
    font-size: 1.8rem;
    margin: 17px 0;
    cursor: pointer;
    transition: background 0.25s;
    @include flex-align(space-between, center);

    &:hover {
        background: lighten($dark-l, 3%);
    }
}
.application-info { 
    gap: 30px;
    @include flex-align(flex-start, flex-start);

    p { margin: 0; padding: 0; }
    p.date { 
        font-size: 1.6rem;
        color: $grey-txt;
        font-weight: $f-medium;
    }
    p.title { 
        font-size: 1.8rem;
        margin-bottom: 5px;
    }
    p.client { 
        font-size: 1.6rem;
        color: $grey-txt;
        font-weight: $f-medium;
    }
}