// [ COMPONENT: SIDEBAR ]
aside {
    position: fixed;
    width: 200px; height: 100%;
    padding: 6% 20px;
    background: $dark-l;
    z-index: 5;
    @include flex-align(flex-start, center, column);
}
aside .menu-title {
    font-size: 2.2rem;
    margin-bottom: 40px;
    font-weight: $f-bold;
    color: $grey-txt;
}
aside nav {
    width: 100%;
    @include flex-align(def, def, column);
}
aside nav a {
    margin: 10px 0;
    font-size: 1.8rem;
    color: $grey-txt;
    text-align: center;

    &:not(.active):hover {
        color: lighten($grey-txt, 5%);
    }

    &.active {
        @extend .CTA;
        width: 100%;
        font-weight: $f-semibold;
    }
}